{% extends "site_base.html" %}
{% block body %}
<h1>Login</h1>
<p>Please enter username & password</p>
{% block content %}

{% if form.errors %}
<p class="errorlist">Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" id="hongkiat-form">
    {% csrf_token %}
    <div class="fieldWrapper">
        <input id="id_name" maxlength="254" name="username" type="text" clickev="true" class="txtinput"
               placeholder="Username:">
    </div>
    <div class="fieldWrapper">
        <input id="id_subject" name="password" type="password" clickev="true" class="txtinput"
               placeholder="Password:">
    </div>
    <section id="buttons">
        <input type="reset" name="reset" id="resetbtn" class="resetbtn" value="Reset">
        <input type="submit" value="Login" class="submitbtn" id="submitbtn">
    </section>

    <input type="hidden" name="next" value="{{ next }}"/>
</form>

{% endblock %}
{% endblock %}