{% extends "site_base.html" %}
{% block body %}
<div class="post">
    <h1 class="page_title">
        <a href="/blogs/{{ content.page_slug }}">{{ content.title }}</a>
    </h1>

    <div class="content">
        <div class="meta">
            Published in: <a href="/blogs/category/{{ content.category.page_slug }}">{{ content.category }}</a> on {{
            content.pub_date }}
        </div>
        <!-- meta -->
        {{ content.description }}

    </div>
    <!-- content -->
</div>


<h2>Comments</h2>
<div class="comment">
    {% for comment in commentcollection %}
    <p>{{ comment.user }} says: {{ comment.comment }}</p>
    {% endfor %}
</div>

{% if user.is_authenticated %}

{% if a_message %}<p><strong>{{ a_message }}</strong></p>{% endif %}
{% if content.is_comment %}
<h3>Leave a comment</h3>
<form action="/blogs/{{ content.page_slug }}/" method="post" id="hongkiat-form">

    {% csrf_token %}
    <input type="hidden" name="formuser" value="{{ user.id }}"/>

    <div class="fieldWrapper">
        <textarea name="comments" id="bbcode" class="txtblock" placeholder="Comments:"></textarea>
    </div>
    <section id="buttons">
        <input type="reset" name="reset" id="resetbtn" class="resetbtn" value="Reset">
        <input type="submit" name="submit" value="Submit" class="submitbtn" id="submitbtn"/>
    </section>
</form>
{% endif %}
{% else %}
<p>Welcome, new user. Please <a href="/accounts/login/">log in</a> or <a href="/accounts/registration/">register</a> to
    comment</p>
{% endif %}
{% endblock %}