{% extends "site_base.html" %}
{% block body %}
{% if latest_blog_list %}
{% for item in latest_blog_list %}

<div class="post">
    <h2 class="page_title">
        <a href="/blogs/{{ item.page_slug }}">{{ item.title }}</a>
    </h2>

    <div class="content">
        <div class="meta">
            <a href="/blogs/{{ item.page_slug }}">Leave a comment</a>&nbsp;&nbsp;&nbsp;Published in: <a
                href="/blogs/category/{{ item.category.page_slug }}">{{ item.category }}</a> on {{ item.pub_date }}
        </div>
        <!-- meta -->
        {{ item.description }}
        <p><a href="/blogs/{{ item.page_slug }}" class="more_btn">Read More</a></p>
    </div>
    <!-- content -->
</div>
{% endfor %}
{% else %}
There is no blog post. Please select other categories.
{% endif %}
{% endblock %}