<html>
<head>
    {% load staticfiles %}
    {% include "contents/head.html" %}
</head>
<body>
<div class="wrapper">
    <article class="main">
        {% include "contents/header.html" %}
        {% if content.page_slug = "home" %}
        <ul class="bxslider">
            {% for slide in slideshowcollection %}
            <li><img src='/{{ slide.url|cut:"contents/" }}' title="{{ slide.alt }}"/></li>
            {% endfor %}
            {% endif %}
        </ul>
        <div class="clearfix">
            <div class="main-left">
                {% block content %}
                <h1>Search</h1>

                <form method="get" action="." id="hongkiat-form">

                    <input id="id_subject" name="q" type="text" class="txtinput" placeholder="Enter the keyword:">
                    <section id="buttons">
                        <input type="reset" name="reset" id="resetbtn" class="resetbtn" value="Reset">
                        <input type="submit" value="Search blogs" class="submitbtn" id="submitbtn">
                    </section>


                    {% if query %}
                    <br class="clearfix" style="clear:both;"/>

                    <h3>Results</h3>

                    {% for result in page.object_list %}
                    <p>
                        <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>: {{
                        result.object.description|truncatewords:30 }}
                    </p>
                    {% empty %}
                    <p>No results found.</p>
                    {% endfor %}

                    {% if page.has_previous or page.has_next %}
                    <div>
                        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{%
                        endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                        |
                        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif
                        %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                    </div>
                    {% endif %}
                    {% else %}
                    {# Show some example queries to run, maybe query syntax, something else? #}
                    {% endif %}
                </form>
                {% endblock %}
            </div>
            {% include "contents/sidebar.html" %}
        </div>
    </article>
    {% include "contents/footer.html" %}
</div>
</body>