{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'pro_dropdown_2/pro_dropdown_2.css' %}"/>
<script src="{% static 'pro_dropdown_2/stuHover.js' %}" type="text/javascript"></script>
<!-- bxSlider Javascript file -->
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<!-- bxSlider CSS file -->
<link href="{% static 'jquery.bxslider.css' %}" rel="stylesheet"/>
<script src="{% static 'js/sliding_effect.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery.color.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'markitup/skins/markitup/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'markitup/sets/bbcode/style.css' %}"/>
<script type="text/javascript" src="{% static 'markitup/jquery.markitup.js' %}"></script>
<script type="text/javascript" src="{% static 'markitup/sets/bbcode/set.js' %}"></script>
<script>
$(document).ready(function(){
  $('.bxslider').bxSlider({
  mode: 'fade',
  captions: true,
  auto: true,
  autoControls: true,

});
    $('#bbcode').markItUp(myBbcodeSettings);

    $('#emoticons a').click(function() {
        emoticon = $(this).attr("title");
        $.markItUp( { replaceWith:emoticon } );
    });

});





</script>

<script>
$(document).ready(function()
    {
        $(".tablesorter").tablesorter();
        });
    }
);




</script>
