<html>
<head>
    {% load staticfiles %}
    {% include "head.html" %}
    {% block style_base %}
    {% block extra_style %}{% endblock %}
    {% endblock %}
    {% block extra_script %}
    {% endblock %}
</head>
<body>
<div class="wrapper">

    <article class="main">
        {% include "header.html" %}
        {% if content.page_slug = "home" %}
        <ul class="bxslider">
            {% for slide in slideshowcollection %}
            <li><img src='/{{ slide.url|cut:"contents/" }}' title="{{ slide.alt }}"/></li>
            {% endfor %}
            {% endif %}
        </ul>
        <div class="clearfix">
            <div class="main-left">
                {% block breadcrumb %}

                {% endblock %}
                <div class="spacebottom"></div>
                {% block body %}
                <!-- Main hero unit for a primary marketing message or call to action -->
                <div class="main-block">

                    <div id="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                {% if user.is_authenticated %}

                {% endif %}
                {% endblock %}
            </div>
            {% include "sidebar.html" %}
        </div>
    </article>
    {% include "footer.html" %}
</div>
</body>
</html>


