/* ===========================================================
   Reset
   =========================================================*/

a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body,
canvas, caption, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, hr, html,
i, iframe, img, ins,
kbd,
label, legend, li,
mark, menu, meter,
nav,
object, ol, output,
p, pre, progress,
q,
rp, rt, ruby,
s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt,
u, ul,
var, video,
xmp {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

article, aside,
details,
figcaption, figure, footer,
header, hgroup,
menu,
nav,
section {
    display: block;
}

b, strong {
    font-weight: bold;
}
img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}
ol, ul {
    list-style: none;
}
li {
    display: list-item;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th, td, caption {
    font-weight: normal;
    vertical-align: top;
    text-align: left;
}
q {
    quotes: none;
}
q:before, q:after {
    content: '';
    content: none;
}
sub, sup, small {
    font-size: 75%;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
svg {
    overflow: hidden;
}


/* ===========================================================
   Classes
   =========================================================*/

/* position */
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.fixed {
    position: fixed;
}

/* text-align */
.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}

/* float */
.fl, .alignleft {
    float: left;
}
.fr, .alignright {
    float: right;
}
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}

.spacebottom
{
    margin-bottom:20px;
    clear:both;

}
/* clear float */
.clear,
.clearfix:after {
    clear: both;
}
.clear,
.clearfix:before,
.clearfix:after {
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0; height: 0;
}
.clearfix:before,
.clearfix:after {
    content: '\0020';
}
.lt-ie8 .clearfix {
    zoom: 1;
}

/* image replace */
.ir {
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
}

.bx-viewport{
    width:98%!important;
    margin-left:10px;

}

.divided
{
    height: 2px;
    background-color: rgb(9, 146, 4);

}

/* ===========================================================
   Typography
   =========================================================*/

html, body {
    height: 100%;
}
html {
    -webkit-text-size-adjust: none;
}
body {
    background-color:#D6D6D6;
    font: 12px/1.5 'Roboto', sans-serif;
    color: #000;
}
button, input, textarea, select {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
img {
    vertical-align: top;
    max-width: 100%;
}
a {
    color: green;
    text-decoration: none;
}


/* ===========================================================
   wrapper
   =========================================================*/

.wrapper {
    background-color:white;
    margin: 0 auto;
    width: 1024px;
}

#contentWrapper
{


}
/* ===========================================================
   header
   =========================================================*/
header
{
    background-color:#000;

}
.header .container {
}

/* logo */
.logo {
    float: left;
    padding-bottom: 7px;
    height: 77px;
}

.logo img{
    height:85px;

}

#logostyle{

    opacity:0.5;
}
/* call */
.call {
    float: right;
    margin: 24px 0 0;
    font-size: 38px;
    line-height: 1;
    color: #fff;
}

#useraccount
{
    text-align:right;
    margin-right:15px;

}

#useraccount span
{
    color: white;
    line-height: 30px;
    margin-right:5px;

}

/* banner */
.banner {
    position: relative;
    height: 216px;
}
.banner span {
    display: block;
    font-weight: bold;
    font-size: 39px;
    line-height: 1;
}
.banner .r1 {
    padding: 62px 0 0 20px;
    color: #1b1b1b;
}
.banner .r2 {
    padding: 12px 0 0 169px;
    color: #2b7ea0;
}
.banner img {
    position: absolute;
    bottom: 1px;
    right: 13px;
}

/* top-cta */
.top-cta {
    padding: 18px 0;
}
.top-cta span,
.top-cta .field,
.top-cta .button {
    float: left;
}
.top-cta span {
    width: 275px;
    font-size: 30px;
    line-height: 32px;
    color: #ffcf00;
}
.top-cta .field {
    margin-right: 16px;
    width: 202px;
}
.top-cta .custom-input {
    position: relative;
    height: 32px;
}
.top-cta .placeholder {
    font-size: 14px;
    line-height: 18px;
    color: #1b1b1b;
}
.top-cta .custom-input label {
    position: absolute;
    top: 7px;
    left: 12px;
    cursor: text;
}
.top-cta .custom-input input {
    float: left;
    padding: 7px 12px;
    width: 178px;
    height: 18px;
    background: #fff;
    border: 0;
}
.top-cta .button {
    margin: 0 0 -1px 5px;
}
.top-cta .button input {
    float: left;
}

/* ===========================================================
   post
   =========================================================*/
.post {
padding: 15px 0;
border-bottom: 1px solid #e8e8e8;
}


.page_title a
{color: #3f8fba;
font-size: 32px;
font-weight: normal;
font-family: 'basic_sans_light_sfregular';
line-height: 36px;
padding: 0 0 13px 0;
}

a.more_btn {
	display: inline-block;
	color: #b8b8b8;
	font-size: 11px;
	font-style: normal;
    font-family: 'droid_sansregular';
	line-height: 18px;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
	padding: 5px 14px;
	margin: 0 4px;
	background: url(images/col_more.jpg) repeat-x 50% 0;
	position: relative;
}
.more_btn:before {
	display: block;
	content: '';
	width: 4px;
	height: 28px;
	background: url(images/col_more_l.png) no-repeat 50% 50%;
	position: absolute;
	top: 0;
	left: -4px;
}
.more_btn:after {
	display: block;
	content: '';
	width: 4px;
	height: 28px;
	background: url(images/col_more_r.png) no-repeat 50% 50%;
	position: absolute;
	top: 0;
	right: -4px;
}
a.more_btn:hover {
	color: #fff;
}

.meta {
padding: 10px 0 15px;
color: #777;
font-size: 15px;
line-height: 22px;
}

p {
padding: 0 0 18px;
}

.comment {
margin-top:10px;
padding: 5px 10px;
}
/* ===========================================================
   footer
   =========================================================*/

.footer {
    margin-top: 30px;

    padding: 15px 15px;
    background-color:black;
    line-height: 13px;
    color: white;
}
.footer a {
    color: green;
}
.footer a:hover {
    text-decoration: underline;
}


/* ===========================================================
   main
   =========================================================*/

.main {

    font-size: 13px;
    line-height: 23px;
}
.main h1 {

    font-size: 33px;
    color: #515155;
    margin-bottom:20px;
}
.main h2 {
    margin-top: 28px;
    font-size: 20px;
    line-height: 21px;
    color: green;
}

.main h3 {
    margin-top: 28px;
    font-size: 16px;
    line-height: 21px;
    color: green;
}
.main h1 + h2 {
    margin-top: 17px;
    font-style: italic;
}

.lt-ie9 .main h1,
.lt-ie9 .main h2 {
    letter-spacing: -1px;
}

.main-left {
    float: left;
    margin-top: 10px;
    width: 668px;
    margin-left: 20px;
}
.main-right {
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    width: 200px;
}

.box {
    margin-top: 41px;
    margin-bottom: 49px;
    height: 165px;
    background: #f7f7f7;
}
.box .left {
    float: left;
    margin: -1px 0;
    width: 411px;
    height: 169px;
    background: url(img/box-bg.png) no-repeat;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    color: #1b1b1b;
}
.box .left p {
    margin: 0;
    padding: 15px 0 0 62px;
}
.box .right {
    float: right;
    width: 574px;
    font-size: 15px;
}
.box .right p {
    margin: 0;
    padding: 36px 0 0;
}

.list {
    margin-top: 31px;
    margin-bottom: 31px;
}
.list li {
    position: relative;
    margin-top: 20px;
    padding-left: 130px;
    height: 37px;
    background: #f7f7f7;
    font-size: 22px;
    line-height: 37px;
}
.list li:first-child {
    margin-top: 0;
}
.list img {
    position: absolute;
    top: -11px;
    left: 38px;
}

.enquire-now {
    padding: 20px 23px 23px 20px;
    width: 267px;
    background: #005296;
}
.enquire-now h3 {
    padding-bottom: 7px;
    margin: 0 -10px;
    text-align: center;
    font-weight: normal;
    font-size: 48px;
    line-height: 1;
    color: #fff;
}
.enquire-now .field {
    margin-top: 14px;
}
.enquire-now .custom-input {
    position: relative;
}
.enquire-now .placeholder {
    font-size: 14px;
    line-height: 18px;
    color: #6b6a6a;
}
.enquire-now .custom-input label {
    position: absolute;
    top: 5px;
    left: 6px;
    cursor: text;
}
.enquire-now .custom-input input,
.enquire-now .custom-input textarea {
    float: left;
    padding: 5px 6px;
    width: 255px;
    height: 18px;
    background: #fff;
    border: 0;
}
.enquire-now .custom-input textarea {
    height: 74px;
    overflow: auto;
    resize: none;
}
.enquire-now .submit {
    float: left;
    margin-top: 19px;
}
.enquire-now img {
    float: right;
    margin-top: 20px;
}

/* privacy-policy */
.privacy-policy {
    padding: 20px;
    background: #fff;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Droid Sans', sans-serif;
    color: #000;
}
.privacy-policy h1 {
    font-size: 30px;
    line-height: 1;
}
.privacy-policy h2 {
    margin-top: 21px;
    font-size: 18px;
    color: #9d9d9d;
}
.privacy-policy p {
    margin-top: 21px;
}
.privacy-policy a {
    color: #000;
}


/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('img/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('img/blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('img/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

/* custom fancybox */
.fb-popup .fancybox-skin,
.fb-popup.fancybox-opened .fancybox-skin {
    background: none;
    color: #fff;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.fb-popup .fancybox-error {
    color: #fff;
}

.fb-popup .fancybox-close {
    top: -31px;
    right: 0;
    width: 29px;
    height: 31px;
    background: url(img/close.png) no-repeat;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #337001) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #337001 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#337001');
	background-color:#77d42a;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:-2.62px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #aade7c;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #337001), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #337001 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#337001', endColorstr='#77d42a');
	background-color:#337001;
}.button:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */



/** the form elements **/

.errorlist{
    color:red;

}
#hongkiat-form { box-sizing: border-box; margin-top:30px; }

#hongkiat-form .txtinput {
display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #dedede;
margin-bottom: 20px;
font-size: 1.55em;
padding: 11px 25px;
padding-left: 55px;
width: 90%;
color: #777;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}
#hongkiat-form .helptext
{
    margin-top:-20px;

}
#hongkiat-form .txtinput:focus {
color: #333;
border-color: rgba(41, 92, 161, 0.4);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
outline: 0 none;
}

#hongkiat-form input#id_name, #hongkiat-form input#id_login {
background: #fff url('images/user.png') 5px 4px no-repeat;
}
#hongkiat-form input#id_sender {
background: #fff url('images/email.png') 5px 4px no-repeat;
}
#hongkiat-form input#id_subject {
background: #fff url('images/website.png') 5px 4px no-repeat;
}
#hongkiat-form input#telephone {
background: #fff url('images/phone.png') 5px 4px no-repeat;
}

#hongkiat-form textarea {
display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #dedede;
margin-bottom: 15px;
font-size: 1.5em;
padding: 11px 25px;
padding-left: 55px;
width: 100%;
height: 180px;
color: #777;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}
#hongkiat-form textarea:focus {
color: #333;
border-color: rgba(41, 92, 161, 0.4);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
outline: 0 none;
}
#hongkiat-form textarea.txtblock {
background: #fff url('images/speech.png') 5px 4px no-repeat;
}

#hongkiat-form #slider { width: 60%; }

#hongkiat-form #aligned {
box-sizing: border-box;
float: left;
width: 450px;
margin-right: 50px;
}
#hongkiat-form #aside {
	float: left;
	width: 250px;
	padding: 0;
	box-sizing: border-box;
}

#wrapping { width: 100%; box-sizing: border-box; }

span.radiobadge { display: block; margin-bottom: 8px; }
span.radiobadge label { font-size: 1.2em; padding-bottom: 4px; }

#hongkiat-form select {
font-size: 17px;
color: #676767;
padding: 9px !important;
border: 1px solid #aaa;
width: 200px;
}

.hide{
    display:none;

}
/** custom buttons **/

#buttons { display: block; padding-top: 10px; }
#buttons #resetbtn {
display: block;
float: left;
color: #515151;
text-shadow: -1px 1px 0px #fff;
margin-right: 20px;
height: 3em;
padding: 0 1em;
outline: 0;
font-weight: bold;
font-size: 1.3em;
white-space: nowrap;
word-wrap: normal;
vertical-align: middle;
cursor: pointer;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
background-color: #fff;
background-image: -moz-linear-gradient(top,  rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(255,255,255)), color-stop(2%,rgb(240,240,240)), color-stop(100%,rgb(222,222,222)));
background-image: -webkit-linear-gradient(top,  rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);
background-image: -o-linear-gradient(top,  rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);    background-image: -ms-linear-gradient(top,  rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);
background-image: linear-gradient(top,  rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );
border: 1px solid #969696;
box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
-moz-box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
-webkit-box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

#buttons #resetbtn:hover {
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
color: #818181;
background-color: #fff;
background-image: -moz-linear-gradient(top,  rgb(255,255,255) 2%, rgb(244,244,244) 2%, rgb(229,229,229) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(255,255,255)), color-stop(2%,rgb(244,244,244)), color-stop(100%,rgb(229,229,229)));
background-image: -webkit-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%);background-image: -o-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: -ms-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
border-color: #aeaeae;
box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
}

#buttons #submitbtn {
display: block;
float: left;
height: 3em;
padding: 0 1em;
border: 1px solid;
outline: 0;
font-weight: bold;
font-size: 1.3em;
color:  #fff;
text-shadow: 0px 1px 0px #222;
white-space: nowrap;
word-wrap: normal;
vertical-align: middle;
cursor: pointer;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
border-color: #5e890a #5e890a #000;
-moz-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
-ms-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
-webkit-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
background-color: rgb(226,238,175);
background-image: -moz-linear-gradient(top, rgb(226,238,175) 3%, rgb(188,216,77) 3%, rgb(144,176,38) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgb(226,238,175)), color-stop(3%,rgb(188,216,77)), color-stop(100%,rgb(144,176,38)));
background-image: -webkit-linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);
background-image: -o-linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);
background-image: -ms-linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);
background-image: linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2eeaf', endColorstr='#90b026',GradientType=0 );
}
#buttons #submitbtn:hover, #buttons #submitbtn:active {
border-color: #7c9826 #7c9826 #000;
color: #fff;
-moz-box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
-ms-box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
background: rgb(228,237,189);
background: -moz-linear-gradient(top, rgb(228,237,189) 2%, rgb(207,219,120) 3%, rgb(149,175,54) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(228,237,189)), color-stop(3%,rgb(207,219,120)), color-stop(100%,rgb(149,175,54)));
background: -webkit-linear-gradient(top, rgb(228,237,189) 2%,rgb(207,219,120) 3%,rgb(149,175,54) 100%);
background: -o-linear-gradient(top, rgb(228,237,189) 2%,rgb(207,219,120) 3%,rgb(149,175,54) 100%); background: -ms-linear-gradient(top, rgb(228,237,189) 2%,rgb(207,219,120) 3%,rgb(149,175,54) 100%); background: linear-gradient(top, rgb(228,237,189) 2%,rgb(207,219,120) 3%,rgb(149,175,54) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4edbd', endColorstr='#95af36',GradientType=0 );
}


ul#sliding-navigation
{
	list-style: none;
	font-size: 14px;
	margin: 30px 0;
	background-color:#1D1D1D;
}

ul#sliding-navigation li.sliding-element h3,
ul#sliding-navigation li.sliding-element a
{
	display: block;
	width: 155px;
	padding: 5px 15px;
	margin: 0;
	margin-bottom: 5px;
}

ul#sliding-navigation li.sliding-element h3
{
	color: #fff;
	background: #333 url(img/heading_bg.jpg) repeat-y;
	font-weight: normal;
}

ul#sliding-navigation li.sliding-element a
{
	color: #999;
	background: #222;
	border: 1px solid #1a1a1a;
	text-decoration: none;
}

ul#sliding-navigation li.sliding-element a:hover { color: green; }

ul#sliding-navigation li.sliding-element h3
{
	color: #fff;
	background:#333 url(img/heading_bg.jpg) repeat-y;
	font-weight: normal;
}


/*-------------
SEARCH
-------------*/

#searchForm{
float: right;
margin-top: 10px;
margin-right: 10px;
}
#searchForm fieldset {
    width:240px;
    position:relative;
    display:block;
}

div.input {
    width:120px;
    padding:5px 15px 7px 15px;
    border-radius:20px;
    border:1px solid #c6d2db;
    border-top:1px solid #b4c1cb;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.08);
    float:right;
    background:#e8edf1;
}

    div.input.focus {
        border:1px solid #9ecbe2;
        box-shadow:0 0 6px #abdcff, inset 0 1px 2px rgba(0,0,0,0.08);
    }

input#s {
    width:100%;
    border:0;
    border-radius:20px;
    background:transparent;
    height:16px;
    color:#b4bdc4;
    text-shadow:0 1px 1px #fff;
}

    input#s:focus {
        outline:none
    }

input#searchSubmit {
    width:19px;
    height:19px;
    text-indent:-9999px;
    overflow:hidden;
    background:url(images/search-icon.png) no-repeat;
    border:0;
    position:absolute;
    top:7px; right:13px;
    z-index:5;
    display:none;
    cursor:pointer;
}

table.tablesorter {
	font-size: 12px;
	background-color: #4D4D4D;
	width: 740px;
	border: 1px solid #000;
	margin-bottom:30px;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #6E6E6E;
}
table.tablesorter td {
	color: #FFF;
	padding: 5px;
}
table.tablesorter .even {
	background-color: #3D3D3D;
}
table.tablesorter .odd {
	background-color: #6E6E6E;
}
table.tablesorter .header {
	background-image: url(tablesorter/bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
	cursor: pointer;
}

table.tablesorter .headerpost {
	background-image: url(tablesorter/bg2.png);
    background-repeat: repeat;
}
table.tablesorter .headerSortUp {
	background-image: url(tablesorter/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(tablesorter/desc.png);
	background-repeat: no-repeat;
}

.breadcrumb li
{
    float:left;

}